* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --COLOR: whitesmoke;
}

body {
    min-height: 100vh;
    background-image: radial-gradient(blue,var(--COLOR));
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
    color: var(--COLOR);
    background-image: linear-gradient(to right, orange, aqua);
}

nav{
    color: var(--COLOR);
    border-bottom: 2px solid #333;
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
main {
    flex-grow: 1;
    color: var(--COLOR);
}

p {
    margin-top: 1rem;
    color: black;
    font-weight: bolder;
}

footer {
    background-color: #333;
    color: var(--COLOR);
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: var(--COLOR);
    font-size: 1.5rem;
}

a:hover,
a:focus {
    color: #333;
    text-decoration: underline;
}